
img {
    max-width: 100%;
}

/*MEDIA QUERIES PARA DISPOSITIVOS CON UN ANCHO MAYOR DE 950 px*/
/*1 rem equivale al tamano de fuente del elemento (por defecto 16px)*/
@media screen and (min-width: 50rem) {
    .IntroWrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    /*MoneyShot e IntroText son elementos contenidos en la div IntroWrapper*/
    .MoneyShot, .IntroText {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
        text-align: center;
    }
    .IntroText {
        padding: 2.5rem;
        font-size: 3rem;
        text-align:left;   
        }
    .Ingredients {
        float:right;
        padding: 1rem;
        margin: 0 0 0.5rem 1rem;
        border-radius: 3px;
        background-color: #ffffdf;
        border: 2px solid #e8cfa9;
    }
    .Ingredients h3 {
        margin 0;
    }
}   